.fondo{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/218/264/7/reine-norway-lake-mountains-wallpaper-preview.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
}
